<% title @message.subject %>
<div id="inbox">
    <p style="overflow:hidden;">
        <%= "<strong>Betreff: </strong>" + @message.subject %>
    </p>
    <p>
        <%= "<strong>Von: </strong>" + User.find_by_id(@message.author_id).login %>
    </p>
    <p>
        <%= "<strong>Am: </strong>" + @message.created_at.to_s(:short) %>
    </p>
    <br/>
    <p>
			<%= simple_format(h @message.body) %>
    </p>
</div>
