<a href="#form" id="new_comment_link"><%= t("common.create_profile_entry") %></a>
<% form_tag (request.path.to_s + '/comments'), :id  => 'new_comment' do %>

  <p>
    <%= text_area_tag 'comment[content]', @comment.content, :class => 'tb_area' %>
  </p>
  <p>
		<%= submit_tag "Submit" %>
		<%= submit_tag t('common.close'), :class => "close" %>
	</p>
<% end %>
