$('#loading_background').removeClass('loading_background_visible');
$('#loading_background').addClass('loading_background_invisible');
<% if !@blank %>
$("#comments").html("<%= escape_javascript(render('create')) %>");
$("#new_comment")[0].reset();
$('#flash_notice').remove();
$('#flash_error').remove();
$("#new_comment").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
$('#flash_notice').fadeOut(2000);
$("#new_comment").hide();
$("#new_comment_link").fadeIn('fast');
setTimeout(function() { 
	$('#flash_notice').remove();
}, 2000);

<% else %>
	$(".loading").html("");
	$("#new_comment").before('<div id="flash_error"><%= escape_javascript(flash.delete(:error)) %></div>');
	$('#flash_error').fadeOut(2000);
	setTimeout(function() { 
		$('#flash_error').remove();
	}, 2000);
<% end %>