<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$(".tb_date").datepicker();
});
</script>

<% title t('job.new') %>

<div class="job_info_left">
	<h2><%= t('job.step1') %></h1>
	<h3><%= t('job.creat_job_insert') %></h3>
</div>
<div class="clear">
<%= render :partial => 'new_form' %>

</div>
<div class="clear">
<p><%= link_to t('common.back'), jobs_path %></p>
</div>