html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

body {
/*    background-color: #4B7399;*/
	background: transparent;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-image: url(/images/background.png);
	background-repeat:repeat-x;
}

a {
    color: #990000;
    text-decoration: none;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a:hover {
    color: black;
}

h1, h2, h3 {
    padding: 0px;
    margin: 0px;
    color: #336666;
}

img {
    border: none;
}

ul{
	margin:0;
	padding:0;
}

p{
	color:#333;
}

li{
	list-style-type: none;
	margin-bottom:10px;
}

#flash{
	clear:both;
}
.clear_both{
	float:left;
	clear:both;
}
.visible{
	display:inline;
}
.hidden{
	display:none;
}



/* Textbox Class*/
.tb{
	width: 380px;
	font-family:Verdana,Lucida Grande, Lucida Sans Unicode,  Helvetica, Arial, sans-serif;
	font-size:15px;
	color : #000000;
	height:30px;
	padding:8px;
	padding-bottom:0;
}

.tb_date{
	width: 380px;
	font-family:Verdana,Lucida Grande, Lucida Sans Unicode,  Helvetica, Arial, sans-serif;
	font-size:15px;
	color : #000000;
	height:30px;
	padding:8px;
	padding-bottom:0;
}

.tb_login{
	width: 170px;
	font-family:Verdana,Lucida Grande, Lucida Sans Unicode,  Helvetica, Arial, sans-serif;
	font-size:13px;
	color : #000000;
	height:20px;
	padding:8px;
	padding-bottom:0;
}


.tb_datepicker{
	width: 100px;
	font-family:Verdana,Lucida Grande, Lucida Sans Unicode,  Helvetica, Arial, sans-serif;
	font-size:13px;
	color : #000000;
	height:20px;
	padding:0px;
	padding-bottom:0;
}


.tb_extended{
	width: 565px;
	font-family:Verdana,Lucida Grande, Lucida Sans Unicode,  Helvetica, Arial, sans-serif;
	font-size:15px;
	color : #000000;
	height:30px;
	padding:8px;
	padding-bottom:0;
}

.tb_area {
	width: 385px;
	font-family:Verdana,Lucida Grande, Lucida Sans Unicode,  Helvetica, Arial, sans-serif;
	font-size:15px;
	height:200px;
	padding:4px 8px;
	margin-bottom:0px;
}
.tb_area_extended{
	width: 385px;
	font-family:Verdana,Lucida Grande, Lucida Sans Unicode,  Helvetica, Arial, sans-serif;
	font-size:15px;
	color : #000000;
	height:390px;
	padding:4px 8px;
	margin-bottom:0px;
}
.tb_area_dark {
	width: 385px;
	font-family:Verdana,Lucida Grande, Lucida Sans Unicode,  Helvetica, Arial, sans-serif;
	font-size:15px;
	background: silver;
	color : #000000;
	height:200px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}

/* table design */

table, td {
	border: 1px solid #84785e;
	border-collapse: collapse;
	font: 100% "Verdana", Arial, Helvetica, sans-serif;
	padding: 4px;
}

table {
	border: 1px solid #84785e;
}

thead th {
	background-color: #812A22;
	border: 0;
	color: #ffffff;  
	padding: .75em;
}

tbody th {
	border-top: 1px solid #84785e;
	font-weight: normal;
	padding-left: .75em;
}

tbody tr td {
	padding: .75em;
}

tfoot td, tfoot th {
	background-color: #a24116;
	border-left: none;
	border-top: 1px solid #84785e;
	color: #ffffff;
	padding: .75em;
}

/*caption {
	text-align: left;
	font-size: 100%;
	padding: .75em;
	color: #000;
}*/

/* ----- Changes odd row to fffce1 */

tr.odd {
	background-color: #fffce1;
	color: #101011;
}

/* ----- Changes row color to a24116 for those browsers that support tr:hover */

tr:hover, tr.odd:hover {
	background-color: #ECECEC;
	color: #000000;
}

/* ----- Changes link color to 101011 */

table a:link {
	color: #101011;
	text-decoration: none;
}


/* end table design */

.whole_width{
    width: 950px;
	clear:both;
	border-top:solid thin silver;
}
.group_member_container{
	float:left;
	width:540px;
}

#container_welcome {
	clear:both;
    width: 948px;
	min-height:740px;
    margin: 0 auto;
    background-image: url('/images/background_welcome.jpg');
	background-repeat: no-repeat;
	border-top: 1px solid silver;
    padding: 10px;
	padding-top:20px;
	overflow:hidden;
}

#welcome_right{
	padding-top:15px;
	padding-right:30px;
	float:right;
	width:350px;
	text-align:left;
}
#welcome_left{
	float:left;
	padding-left:20px;
	margin-top:580px;	
}


#event_flyer{
	float:right;
	text-align:left;
}

 #container {
	clear:both;
    width: 950px;
    margin: 0 auto;
    background-color: transparent;
	border-top: 2px solid black;
/*    border: solid 1px black;*/
    padding: 10px;
	padding-top:20px;
	overflow:hidden;
} #content {
    width: 900px;
    min-height: 20em;
    padding: 20px;
    padding-bottom: 40px;
    overflow: hidden;
} #user_nav {	
    width: 950px;
	margin: 0 auto;
	background: transparent;
    padding: 0px;
} /*#user_nav ul {
	float:left;
	padding:0;
	margin:0;
}

#user_nav ul li {
	display: block;
	float: left;
	font-family: Verdana;
	background:transparent; 
	color:#333;
	font-weight:bold;
	text-decoration: none;
	padding:10px;
	padding-top:0;
	padding-bottom:0;
}
#user_nav ul li a {
	display: block;
	float: left;
	font-family: Verdana;
	font-weight:normal;
	background:transparent; 
	color:#333;
	text-decoration: none;
}

#user_nav ul li a:hover {
	color:#333;
	font-weight:bold;
}*/


#user_nav_two{
	margin: 0 auto;
    width: 950px;
	height:30px;
	padding:10px;
	padding-top:0;
	padding-bottom:0;
	background:transparent;
	border-top: 1px solid black;
}

.wjs{
	visibility:hidden;
}
.wjs_visible{
	visibility:visible;
}

#new_image_upload_form{
	display:none;
}
.upload_form{
	border: solid 1px #7FAAFF; 
	background-color: #C5D9FF; 
	float:right;
	padding:14px;
	margin-right:70px; 
	height:80px; 
	width: 400px;
}
.upload_form_no_float{
	border: solid 1px #7FAAFF; 
	background-color: #C5D9FF; 
	padding:14px;
	margin-right:70px; 
	height:80px; 
	width: 400px;
}

.image_description_without_js{
	float:right;
	width:500px;
	text-align:left;
}
.photo_album{
	padding:20px;
	float:left;
}


#choose_country {
	float:right;
}

.left {
    float: left;
	padding: 10px;
	width:380px;
} .right {
    float: right;
} .profile_image {
    width: 150px;
    display: table-cell;
	float:left;
	padding-right:20px;
}.account_info {
	float:right;
    width: 410px;
	text-align:left;
	padding-bottom:10px;
	margin-bottom:10px;
	margin-right:-10px;
	border-bottom: 1px solid silver;
}.account_info ul {
    list-style-type: none;
}.account_info ul li {
/*    background: #e2ecff;*/
    margin: 1px;
/*    border: thin solid #000;*/
    padding: 3px;
    padding-right: 20px;
}.personal_info {
	float:left;
	width:350px;
}
.personal_info a {
	font-size:12px;
}	 
.personal_info table {
	width:500px;
	margin-bottom:15px;
	color: #000;
	padding: 0.0em;
	border:none;
}
.personal_info td {
	padding: 5px;
	color: black;
	border:none;
	border-bottom:dashed thin gray;
} 

.attributes {
	float:left;
	clear:left;
	width:520px;
}	
.attributes a{
	font-size:12px;
}
.attributes table {
	width:500px;
	margin-bottom:15px;
    color: #000;
    padding: 0.0em;
	border:none;
}.attributes td {
    padding: 5px;
    color: black;
	border:none;
	border-bottom:dashed thin gray;
}
.show_job_attributes{
	float:left;
	clear:left;
	width:520px;
} .show_job_attributes dl {
    color: #000;
    padding: 0.0em
}.show_job_attributes dt {
    padding: 0.0em;
    color: gray;
    font-weight: bold;
	font-size:14px;
}.show_job_attributes dd {
    margin-left: 15em;
    margin-top: -2.5em;
    padding: 0.3em;
}

.job_info_left{
	float:left;
	width:46%;
	padding-bottom:2%;
}
.job_info_right{
	float:right;
	width:46%;
}

.users_list {
	padding:10px;
    float:left;
}

.groups_list{
	padding:10px;
    float:left;
}
.users_right {
	float:left;
}


#friends{
	float:left;
}


#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
} #flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
} #flash_error {
    background-color: #FCC;
    border: solid 1px #C66;
} .clear {
    clear: both;
}/* #articles h2 {
    font-size: 16px;
    margin-bottom: 2px;
} #articles h2 .comments {
    font-size: 12px;
    font-weight: normal;
} #articles .author {
    font-style: italic;
    color: #333;
} */
#comments {
	margin-top:10px;
} 
.comment_display{
	background: #D6E6FC;
	width:380px;
	padding:10px;
	margin:1px;
    clear: both;
    border: silver solid thin;
	overflow:hidden;
}
.comment_info {
    float: left;
} .comment_content {
    float: right;
} .info_and_entry{
	float: right;
	width:400px;
} #new_comment_link{
	visibility:hidden;
} .close{
	visibility:hidden;
}
.comment_entry{
	float:right;
	width:405px;
	padding-top:8px;
}

/* #comments {
 font-size: 12px;
 background-color: #DDD;
 padding: 0 20px;
 width: 325px;
 border: solid 1px #333;
 } .comment {
 border-bottom: solid 1px #999;
 margin: 15px 0;
 } .comment .author_name {
 font-weight: bold;
 }./comment_display {
     width: 650px;
     padding: 10px 0 0 0;
     clear: both;
 } .comments {
     padding-top: 10px;
     clear: both;
 } .comments p {
     margin-bottom: 5px;
 } .comment_info {
     float: right;
     max-width: 100px;
     overflow: auto;
     padding: 0px;
     margin-right: 10px;
     overflow: hidden;
     text-align: left;
 } .comment_content {
     float: left;
     padding: 10px;
     width: 500px;
     border: solid thin silver;
 }*/ .fieldWithErrors {
    display: inline;
} #errorExplanation {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
} #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0px;
    background-color: #c00;
    color: #fff;
} #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
} #errorExplanation ul {
    margin: 2px 24px;
} #errorExplanation ul li {
    font-size: 12px;
    list-style: disc;
}


/* Tags and Posts */

#not_tags_of_post{
	float:left;
	margin-bottom:10px;
}
#tags_of_post{
	float:left;
	margin-bottom:10px;
}
.tags{
	float:right;
	/*background: #D6E6FC;*/
	width:150px;
	padding:10px;
	font-size:10px;
    /*border: silver solid thin;*/
}
#tags a{
	font-size:10px;
}
.post{
	float:left;
	padding:10px;
	width:750px;
	overflow:auto;
}
#groups{
	width:700px;
}
.group_description{
	float:left;
	width:750px;
}
.group_members{
	float:left;
	width:107px;
}
.group_edit{
	float:left;
	width:670px;
}

.clickable_items_to_add{
	float:left;
	border:1px solid #000000;
	font-weight:normal;
	padding:5px;
	margin:5px;
}
.clickable_items_to_remove{
	float:left;
	border:1px solid #000000;
	font-weight:normal;
	padding:5px;
	margin:5px;
}
.clickable_items_selected_to_add{
	float:left;
	background:#D6E6FC;
	color:#000;
	border:1px solid #000000;
	font-weight:normal;
	padding:5px;
	margin:5px;
}
.clickable_items_selected_to_remove{
	float:left;
	background:#D6E6FC;
	color:#000;
	border:1px solid #000000;
	font-weight:normal;
	padding:5px;
	margin:5px;
}
.new_click_boxes{
	visibility:hidden;
}
.plain_old_checkboxes{
	margin-top:-30px;
	float:left;
	clear:both;
	padding-bottom:10px;
}

/* End Tags of Posts */

/*
 * Styles for definition Lists in Forms
 */ .	
 add: Kontakt hinzufügen
 remove: Kontakt entfernen
 accept: Annehmen
 decline: Ablehnen
 friends: Kontakte
 friend_added: Kontakt hinzugefügt
 add_friend_error: Kontakt konnte nicht hinzugefügt werden
 destroyed_friendship: Kontakt gelöscht
 friend_confirm: Kontaktanfragen
 not_confirmed_yet: Noch nicht bestätigt(e) Kontakt(e)_form {
    background-color: #eaffe7;
    width: 40em;
    color: #000;
    padding: 0.6em
}.dt_form {
    padding: 0.5em;
}.dd_form {
    margin-left: 17em;
    padding: 0.5em;
}


/* Example tokeninput style #2: Facebook style */

ul.token-input-list-facebook {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    width: 400px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul.token-input-list-facebook {
    list-style-type: none;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
}

li.token-input-token-facebook {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    /*-moz-border-radius: 5px;
     -webkit-border-radius: 5px;*/
    float: left;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    /*font-style: none;*/
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}

/*
 * Email
 */ 


#mailbox_list {
    float: left;
    list-style: none;
    text-align: center;
    width: 140px;
    border: solid silver thin;
    margin: 0px 0;
    padding: 10px;
    position: fixed;
} #mailbox_trash {
    padding: 5px;
    border: silver solid thin;
    width: 130px;
} #mailbox_inbox {
    padding: 5px;
    border: silver solid thin;
    width: 130px;
} #mailbox_inbox a {
    margin: 0px;
} #mailbox_sent {
    padding: 5px;
    border: silver solid thin;
    width: 130px;
} #mail_right {
    width: 5px;
    float: right;
} #inbox {
	clear:both;
	padding-top:20px;
}
 
#inbox table, td {
	border: 1px solid #84785e;
	border-collapse: collapse;
	font: 100% "Verdana", Arial, Helvetica, sans-serif;
	padding: 4px;
}

#inbox 	table {
	border: 1px solid #84785e;
}

#inbox 	thead th {
	background-color: #812A22;
	border: 0;
	color: #ffffff;  
	padding: .75em;
}

#inbox 	tbody th {
	border-top: 1px solid #84785e;
	font-weight: normal;
	padding-left: .75em;
}

#inbox 	tbody tr td {
	padding: .75em;
}

#inbox 	tfoot td, tfoot th {
	background-color: #a24116;
	border-left: none;
	border-top: 1px solid #84785e;
	color: #ffffff;
	padding: .75em;
}

#inbox 	caption {
	text-align: left;
	font-size: 100%;
	padding: .75em;
	color: #000;
}

/* ----- Changes odd row to fffce1 */

#inbox 	tr.odd {
	background-color: #fffce1;
	color: #101011;
}

/* ----- Changes row color to a24116 for those browsers that support tr:hover */

#inbox 	tr:hover, tr.odd:hover {
	background-color: #ECECEC;
	color: #000000;
}

/* ----- Changes link color to 101011 */

#inbox 	table a:link {
	color: #101011;
	text-decoration: none;
}

#inbox 	table a:visited {
	color: #101011;
	text-decoration: none;
}

#inbox 	table a:hover, table a:active {
	text-decoration: underline;
}

/* ----- Changes link color to white for those browsers that support the tr:hover */

#inbox 	tr:hover a:link, tr.odd:hover a:link {
	color: #ffffff;
}

#inbox 	tr:hover a:visited, tr.odd:hover a:visited {
	color: #ffffff;
}








.inbox_messages {
    cursor: move;
    background: silver;
} #mail_for_user {
    max-width: 550px;
    max-height: 500px;
	text-align:left;
} .link {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
} #search_results {
    padding: 5px;
} #search_results ul {
} #search_results ul li {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
} #search_form {
    float: right;
    margin-top: 1px;
    height: 25px;
    padding: 2px;
    padding-top: 4px;
    background-color: #ffdddd;
}
#edit_photo{
	margin:10px;
	padding:10px;
	overflow:hidden;
}


/*
 * SWF Upload Style
 */ #btnSubmit {
    margin: 0 0 0 155px;
}

/* -- Table Styles ------------------------------- */
td {
    font: 10pt Helvetica, Arial, sans-serif;
    vertical-align: top;
} .progressWrapper {
    width: 357px;
    overflow: hidden;
} .progressContainer {
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;
    overflow: hidden;
}

/* Message */ .message {
    margin: 1em 0;
    padding: 10px 20px;
    border: solid 1px #FFDD99;
    background-color: #FFFFCC;
    overflow: hidden;
}

/* Error */ .red {
    border: solid 1px #B50000;
    background-color: #FFEBEB;
}

/* Current */ .green {
    border: solid 1px #DDF0DD;
    background-color: #EBFFEB;
}

/* Complete */ .blue {
    border: solid 1px #CEE2F2;
    background-color: #F0F5FF;
} .progressName {
    font-size: 8pt;
    font-weight: 700;
    color: #555;
    width: 323px;
    height: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
} .progressBarInProgress, .progressBarComplete, .progressBarError {
    font-size: 0;
    width: 0%;
    height: 2px;
    background-color: blue;
    margin-top: 2px;
} .progressBarComplete {
    width: 100%;
    background-color: green;
    visibility: hidden;
} .progressBarError {
    width: 100%;
    background-color: red;
    visibility: hidden;
} .progressBarStatus {
    margin-top: 2px;
    width: 337px;
    font-size: 7pt;
    font-family: Arial;
    text-align: left;
    white-space: nowrap;
}

a.progressCancel {
    font-size: 0;
    display: block;
    height: 14px;
    width: 14px;
    background-image: url(/images/cancelbutton.gif);
    background-repeat: no-repeat;
    background-position: -14px 0px;
    float: right;
}

a.progressCancel:hover {
    background-position: 0px 0px;
}

/* -- SWFUpload Object Styles ------------------------------- */ .swfupload {
    vertical-align: top;
} #thumbnails {
	padding-top:20px;
	float:right;
	width:500px;
} .new_thumbs {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 75px;
    height: 75px;
} .new_thumbs * {
    vertical-align: middle;
}

.new_thumbs span {
    display: inline-block;
    height: 100%;
}.new_thumbs img {
}.new_thumbs_out {
    width: 90px;
    height: 90px;
    float: left;
}.new_thumbs_delete {
    clear: both;
    text-align: right;
    margin-top: -12px;
    margin-right: 3px;
}.new_thumbs_edit {
    clear: both;
    text-align: right;
    margin-top: -40px;
    margin-right: 5px;
}.edit-photo {
    text-align: center;
}#photo_description {
}
#edit_description{
	float:right;
}
#edit_photo_image{
	float:left;
}

pre {
    display: block;
    font: 100% "Courier New", Courier, monospace;
    padding: 10px;
    border: 1px solid #bae2f0;
    background: #e3f4f9;
    margin: .5em 0;
    overflow: auto;
    width: 800px;
} #preview {
    margin-top: -450px;
    position: absolute;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff;
}

.categoies_for_assigns{
	float:right;
	clear:right;
	width:440px;
	text-align:left;
}

.categoy_for_assigns{
	width:100px;
	height:50px;
	text-align:center;
	display: table-cell; 
	text-align:center;
	vertical-align:middle;
	background-color:#098A43;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
}	
.categoy_for_assigns a{
	color:#fff;
}
.categoy_for_assigns:hover{
	background-color:#0086E1;
}
.categoy_for_assigns:hover a{
	color:#fff;
}


.unread_mail{ background-color: #ff6347; border:none; }


.loading_background_invisible{
	width:0;
	height:0;
}
.loading_background_visible{
	margin:0;
	padding:0;
	width:99%; 
	height:100%; 
	position:absolute; 
	opacity:0.5; 
	filter: alpha(opacity=50); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	background-color:#000;
	background-image: url('/images/background_loader.gif');
	background-repeat:no-repeat;
	background-position: center;
	z-index:300000;
}

.loading_upload_background_visible{
	margin:0;
	padding:0;
	width:99%; 
	height:100%; 
	position:absolute; 
	opacity:0.5; 
	filter: alpha(opacity=50); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	background-color:#000;
	background-image: url('/images/background_loader.gif');
	background-repeat:no-repeat;
	background-position: center;
	z-index:9999999999;
}

.loading_search_background_visible{
	margin:0;
	padding:0;
	opacity:0.5; 
	height:500px;
	filter: alpha(opacity=50); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	background-color:#000;
	background-image: url('/images/background_loader.gif');
	background-repeat:no-repeat;
	background-position: center;
}

.job_index{
	float:left;
	background:#D9CCD9;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	padding:10px;
	width:460px;
}
.job_index_entry{
	background:#fff;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	padding:10px;
	margin-bottom:20px;
	width:440px;
}
.job_show{
	float:left;
	background:#D9CCD9;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	padding:10px;
	margin-bottom:20px;
	margin-top:3px;
	width:380px;
}
.job_edit{
	float:left;
	background:#D9CCD9;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	padding:10px;
	margin-bottom:20px;
	margin-top:3px;
	width:400px;
}
.job_similar{
	float:right;
	background:#D9CCD9;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	padding:10px;
	width:500px;
}
.job_similar_entry{
	float:left;
	width:480px;
	background:#fff;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	padding:10px;
	margin-bottom:20px;
}


