<h1><%= t "activation.activate_account" %></h1>
<% form_for @user, :url => activate_path(@user.id), :html => { :method => :post } do |form| %>
<%= form.error_messages %>
<%= render :partial => "form", :locals => { :form => form } %>
<%= form.submit t ("common.activate") %>
<% end %>