<% javascript 'jquery' %>
<div id="edit_photo">
	<div id="edit_photo_image">
	<%= image_tag @photo.public_filename(:medium) %>
	</div>
	<div id="edit_description">
		<%= render 'form' %>
	</div>
</div>